Description: You are working as a Data Scientist in an Azerbaijani Real Estate Agency.
You are tasked to gather data about the house properties in the country using web-scraping
in order to create a model in the future.
You are asked to scrap ‘bina.az’ and get the data out of the main page. The data should give
information about the location of the property, the link of the announcement, date and time
published and the price of the property.

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [82]:
url="https://bina.az/items/all"

In [83]:
response=requests.get(url)

In [84]:
soup=BeautifulSoup(response.text,"html.parser")

In [85]:
locations=[]
for i in soup.find_all("div",class_="location"):
    locations.append(i.text)

In [161]:
len(locations)

24

In [188]:
links1=[]
for a in soup.find_all("div",class_="items-i"):
    links1.append("https://bina.az"+a.find("a").get("href"))

In [189]:
len(links1)

24

In [180]:
date=[]
for i in soup.find_all("div",class_="card_footer"):
    date.append(i.text.split(",")[1].strip())

In [174]:
soup.find_all("div",class_="card_footer")[0].text.split(",")[1].strip()

'bugün 05:41'

In [181]:
price=[]
for i in soup.find_all("div",class_="abs_block"):
    price.append(i.text)

In [192]:
Bina_az=pd.DataFrame({"location":locations,"link":links1,"date":date,"price":price})

In [204]:
Bina_az["date"]=np.datetime64("today","D")

In [205]:
Bina_az

,location,link,date,price
0,Nəsimi r.,https://bina.az/items/3118912,2023-01-23,540 000AZN
1,Mərdəkan q.,https://bina.az/items/3096584,2023-01-23,1 350 000AZN
2,Nəriman Nərimanov m.,https://bina.az/items/3134433,2023-01-23,158 000AZN
3,Qəbələ,https://bina.az/items/2585644,2023-01-23,55 000AZN
4,Azadlıq Prospekti m.,https://bina.az/items/3167986,2023-01-23,150 000AZN
5,İnşaatçılar m.,https://bina.az/items/3168017,2023-01-23,230 000AZN
6,Nəriman Nərimanov m.,https://bina.az/items/3171531,2023-01-23,130 000AZN
7,Şah İsmayıl Xətai m.,https://bina.az/items/3146670,2023-01-23,248 000AZN
8,Nizami m.,https://bina.az/items/2989869,2023-01-23,495 000AZN
9,İnşaatçılar m.,https://bina.az/items/3167898,2023-01-23,340 000AZN
10,Nərimanov r.,https://bina.az/items/3026011,2023-01-23,248 000AZN
11,Nərimanov r.,https://bina.az/items/3146498,2023-01-23,375 000AZN
12,Yeni Ramana q.,https://bina.az/items/2961239,2023-01-23,90 000AZN
13,Nərimanov r.,https://bina.az/items/3215906,2023-01-23,318 000AZN
14,İçəri Şəhər m.,https://bina.az/items/2424447,2023-01-23,528 000AZN
15,8-ci mikrorayon q.,https://bina.az/items/3213809,2023-01-23,350 000AZN
16,Mərdəkan q.,https://bina.az/items/2812203,2023-01-23,370 000AZN
17,Nəsimi r.,https://bina.az/items/3175659,2023-01-23,2 800AZN/ay
18,Azadlıq Prospekti m.,https://bina.az/items/3206011,2023-01-23,148 000AZN
19,Azadlıq Prospekti m.,https://bina.az/items/3167367,2023-01-23,70 000AZN
20,Nəriman Nərimanov m.,https://bina.az/items/3118076,2023-01-23,218 000AZN
21,Nəsimi r.,https://bina.az/items/3216223,2023-01-23,285 000AZN
22,8 Noyabr m.,https://bina.az/items/3090455,2023-01-23,230 000AZN
23,Sahil m.,https://bina.az/items/1928492,2023-01-23,4 000AZN/ay

In [249]:
locations=[]
links1=[]
date=[]
price=[]

In [250]:
for i in range(30):
    url=f"https://bina.az/items/all?page={i}"
    response=requests.get(url)
    soup=BeautifulSoup(response.text,"html.parser")
    
    for a in soup.find_all("div",class_="location"):
        locations.append(a.text)
    
    for a in soup.find_all("div",class_="items-i"):
        links1.append("https://bina.az"+a.find("a").get("href"))

    for a in soup.find_all("div",class_="card_footer"):
        date.append(a.text.split(",")[1].strip())
 
    for a in soup.find_all("div",class_="abs_block"):
        price.append(a.text)
    Bina_az=pd.DataFrame({"location":locations,"link":links1,"date":date,"price":price})

In [251]:
Bina_az["date"].str.split(" ").str[0].unique()

array(['bugün', 'dünən'], dtype=object)

In [210]:
24*30

720

In [246]:
Bina_az.loc[Bina_az["date"].str.contains("bugün"),"date"]=np.datetime64("today","D")
#Bina_az.loc[Bina_az["date"].str.contains("dünən"),"date"]=c

In [240]:
c=np.datetime64("today","D")+x

In [222]:
x = np.timedelta64(1,"D")
print(x)

1 days

In [228]:
np.datetime64("today","D")

numpy.datetime64('2023-01-23')

In [235]:
Bina_az

,location,link,date,price
0,8 Noyabr m.,https://bina.az/items/3162176,2023-01-24,232 000AZN
1,Gənclik m.,https://bina.az/items/3223581,2023-01-24,177 000AZN
2,Yasamal r.,https://bina.az/items/3213606,2023-01-24,120 000AZN
3,Elmlər Akademiyası m.,https://bina.az/items/3079621,2023-01-24,285 000AZN
4,Elmlər Akademiyası m.,https://bina.az/items/3205265,2023-01-24,245 000AZN
...,...,...,...,...
715,Həzi Aslanov m.,https://bina.az/items/3229207,dünən 19:18,132 000AZN
716,28 May m.,https://bina.az/items/3176914,dünən 19:18,1 600AZN/ay
717,Elmlər Akademiyası m.,https://bina.az/items/3112132,dünən 19:18,300 000AZN
718,Sahil m.,https://bina.az/items/3174476,dünən 19:18,50AZN/gün
719,Əhmədli m.,https://bina.az/items/3229205,dünən 19:18,112 000AZN

In [253]:
bana_az=Bina_az.copy()

In [263]:
bana_az[bana_az["date"].str.contains("bugün")]["date"]=np.datetime64("today","D")

C:\Users\hp\AppData\Local\Temp/ipykernel_9968/2292553293.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bana_az[bana_az["date"].str.contains("bugün")]["date"]=np.datetime64("today","D")

In [266]:
bana_az.loc[bana_az["date"].str.contains("bugün"),"date"]=np.datetime64("today","D")

In [277]:
bana_az.loc[bana_az["date"].str.contains("dünən")==True,"date"]=np.datetime64("today","D")+x

In [273]:
bana_az["date"].isna().sum()

0

In [274]:
np.datetime64("today","D")+x

numpy.datetime64('2023-01-24')

In [279]:
bana_az["date"].unique()

array([numpy.datetime64('2023-01-23'), numpy.datetime64('2023-01-24')],
      dtype=object)

In [280]:
BINA_AZ=bana_az.copy()

In [288]:
BINA_AZ.to_csv("binaz.csv")

In [289]:
pd.read_csv("binaz.csv")

,Unnamed: 0,location,link,date,price
0,0,Nərimanov r.,https://bina.az/items/3102815,2023-01-23,225 000AZN
1,1,8 Noyabr m.,https://bina.az/items/3162176,2023-01-23,232 000AZN
2,2,Gənclik m.,https://bina.az/items/3223581,2023-01-23,177 000AZN
3,3,Yasamal r.,https://bina.az/items/3213606,2023-01-23,120 000AZN
4,4,Elmlər Akademiyası m.,https://bina.az/items/3079621,2023-01-23,285 000AZN
...,...,...,...,...,...
715,715,Nəsimi r.,https://bina.az/items/3226054,2023-01-24,1 200AZN/ay
716,716,Həzi Aslanov m.,https://bina.az/items/3229207,2023-01-24,132 000AZN
717,717,28 May m.,https://bina.az/items/3176914,2023-01-24,1 600AZN/ay
718,718,Elmlər Akademiyası m.,https://bina.az/items/3112132,2023-01-24,300 000AZN
719,719,Sahil m.,https://bina.az/items/3174476,2023-01-24,50AZN/gün

In [282]:
70*24

1680