In [1]:
import pandas as pd
import numpy as np

In [82]:
import os

In [275]:
lst = map(lambda x : r"C:\Users\hp\OneDrive\Masaüstü\Files\\" + x, list(filter(lambda x: 'xlsx' in x, os.listdir(r'C:\Users\hp\OneDrive\Masaüstü\Files'))))

In [278]:
lst = list(lst)

In [283]:
l1=r"C:\Users\hp\OneDrive\Masaüstü\Files\news_sitemap_2023-04-28 16_07_05.xlsx"
l2=r"C:\Users\hp\OneDrive\Masaüstü\Files\news_sitemap_2023-04-28 16_28_54.xlsx"
l3=r"C:\Users\hp\OneDrive\Masaüstü\Files\news_sitemap_2023-04-28 16_46_53.xlsx"

In [284]:
lst=[l1,l2,l3]

In [285]:
datalar=[]
for i in lst:
    forbes=pd.read_excel(i)
    datalar.append(forbes)

In [286]:
tarix_id=[]
for i in lst:
    a=i.split("sitemap_")[1].split(".")[0]
    tarix_id.append(a)

In [287]:
list2

[     Unnamed: 0                                           news_loc news_name  \
 0             0  https://www.forbes.com/sites/alishahbaz/2023/0...    Forbes
 1             1  https://www.forbes.com/sites/sarahwhitmire/202...    Forbes
 2             2  https://www.forbes.com/sites/benjaminlaker/202...    Forbes
 3             3  https://www.forbes.com/sites/coreincarter/2023...    Forbes
 4             4  https://www.forbes.com/sites/greatspeculations...    Forbes
 ..          ...                                                ...       ...
 448         448  https://www.forbes.com/sites/robinraven/2023/0...    Forbes
 449         449  https://www.forbes.com/sites/krisholt/2023/04/...    Forbes
 450         450  https://www.forbes.com/sites/nicholasreimann/2...    Forbes
 451         451  https://www.forbes.com/sites/krisholt/2023/04/...    Forbes
 452         452  https://www.forbes.com/sites/jamiecartereurope...    Forbes

                                             news_title news_language  \
 0    Gen Z Values Flexibility And Freedom. DoorDash...            en
 1                    Forbes Daily: Wall Street Revs Up            en
 2    Deutsche Bank: Navigating The Challenges Ahead...            en
 3    Miami Music Week Celebrated Diversity In Music...            en
 4    How Will The Cyber Attack Impact Dish’s Q1 Res...            en
 ..                                                 ...           ...
 448   Mother’s Day Gift Guide: The Best Travel Dresses            en
 449  Today’s ‘Heardle’ Answer And Clues For Thursda...            en
 450  Ex-San Francisco Official Accused Of Attacking...            en
 451  Today’s ‘Quordle’ Answers And Clues For Thursd...            en
 452  In Photos: See The Extraordinary New Close-Ups...            en

          publication_date                                           keywords  \
 0    2023-04-28T12:05:45Z  Gen Z,Gen Z Dashers,DoorDash,DoorDash Survey S...
 1    2023-04-28T12:02:51Z  meta,mark zuckerberg,pfas,forever chemicals,fi...
 2    2023-04-28T12:01:25Z  Leadership Strategy And The Fate Of Startups,E...
 3    2023-04-28T12:00:25Z  The W,Deep Root Tribe,Frankie Knuckles,FEMME H...
 4    2023-04-28T12:00:06Z                       dish,dish stock,dish revenue
 ..                    ...                                                ...
 448  2023-04-27T00:24:38Z  Mother's Day Gift Guide,Sandhya Garg of Projec...
 449  2023-04-27T00:15:25Z  heardle clues,heardle hints,heardle solution,h...
 450  2023-04-27T00:05:20Z                                                NaN
 451  2023-04-27T00:00:03Z  quordle clues,quordle answers,quordle hints,qu...
 452  2023-04-27T00:00:00Z   Juno,Jupiter,JunoCAM,Ganymede,new jupiter photos

                                             imgage_loc
 0    https://specials-images.forbesimg.com/imageser...
 1    https://specials-images.forbesimg.com/imageser...
 2    https://specials-images.forbesimg.com/imageser...
 3    https://specials-images.forbesimg.com/imageser...
 4    https://specials-images.forbesimg.com/imageser...
 ..                                                 ...
 448  https://specials-images.forbesimg.com/imageser...
 449  https://specials-images.forbesimg.com/imageser...
 450  https://specials-images.forbesimg.com/imageser...
 451  https://specials-images.forbesimg.com/imageser...
 452  https://specials-images.forbesimg.com/imageser...

 [453 rows x 8 columns],
      Unnamed: 0                                           news_loc news_name  \
 0             0  https://www.forbes.com/sites/alishahbaz/2023/0...    Forbes
 1             1  https://www.forbes.com/sites/sarahwhitmire/202...    Forbes
 2             2  https://www.forbes.com/sites/benjaminlaker/202...    Forbes
 3             3  https://www.forbes.com/sites/coreincarter/2023...    Forbes
 4             4  https://www.forbes.com/sites/greatspeculations...    Forbes
 ..          ...                                                ...       ...
 448         448  https://www.forbes.com/sites/robinraven/2023/0...    Forbes
 449         449  https://www.forbes.com/sites/krisholt/2023/04/...    Forbes
 450         450  https://www.forbes.com/sites/nicholasreimann/2...    Forbes
 451         451  https://www.forbes.com/sites/krisholt/2023/04/...    Forbes
 452         452  https://www.forbes.com/sites/jamiecartereurope...    Forbes

                                             news_title news_language  \
 0    Gen Z Values Flexibility And Freedom. DoorDash...            en
 1                    Forbes Daily: Wall Street Revs Up            en
 2    Deutsche Bank: Navigating The Challenges Ahead...            en
 3    Miami Music Week Celebrated Diversity In Music...            en
 4    How Will The Cyber Attack Impact Dish’s Q1 Res...            en
 ..                                                 ...           ...
 448   Mother’s Day Gift Guide: The Best Travel Dresses            en
 449  Today’s ‘Heardle’ Answer And Clues For Thursda...            en
 450  Ex-San Francisco Official Accused Of Attacking...            en
 451  Today’s ‘Quordle’ Answers And Clues For Thursd...            en
 452  In Photos: See The Extraordinary New Close-Ups...            en

          publication_date                                           keywords  \
 0    2023-04-28T12:05:45Z  Gen Z,Gen Z Dashers,DoorDash,DoorDash Survey S...
 1    2023-04-28T12:02:51Z  meta,mark zuckerberg,pfas,forever chemicals,fi...
 2    2023-04-28T12:01:25Z  Leadership Strategy And The Fate Of Startups,E...
 3    2023-04-28T12:00:25Z  The W,Deep Root Tribe,Frankie Knuckles,FEMME H...
 4    2023-04-28T12:00:06Z                       dish,dish stock,dish revenue
 ..                    ...                                                ...
 448  2023-04-27T00:24:38Z  Mother's Day Gift Guide,Sandhya Garg of Projec...
 449  2023-04-27T00:15:25Z  heardle clues,heardle hints,heardle solution,h...
 450  2023-04-27T00:05:20Z                                                NaN
 451  2023-04-27T00:00:03Z  quordle clues,quordle answers,quordle hints,qu...
 452  2023-04-27T00:00:00Z   Juno,Jupiter,JunoCAM,Ganymede,new jupiter photos

                                             imgage_loc
 0    https://specials-images.forbesimg.com/imageser...
 1    https://specials-images.forbesimg.com/imageser...
 2    https://specials-images.forbesimg.com/imageser...
 3    https://specials-images.forbesimg.com/imageser...
 4    https://specials-images.forbesimg.com/imageser...
 ..                                                 ...
 448  https://specials-images.forbesimg.com/imageser...
 449  https://specials-images.forbesimg.com/imageser...
 450  https://specials-images.forbesimg.com/imageser...
 451  https://specials-images.forbesimg.com/imageser...
 452  https://specials-images.forbesimg.com/imageser...

 [453 rows x 8 columns],
      Unnamed: 0                                           news_loc news_name  \
 0             0  https://www.forbes.com/sites/alishahbaz/2023/0...    Forbes
 1             1  https://www.forbes.com/sites/sarahwhitmire/202...    Forbes
 2             2  https://www.forbes.com/sites/benjaminlaker/202...    Forbes
 3             3  https://www.forbes.com/sites/coreincarter/2023...    Forbes
 4             4  https://www.forbes.com/sites/greatspeculations...    Forbes
 ..          ...                                                ...       ...
 448         448  https://www.forbes.com/sites/robinraven/2023/0...    Forbes
 449         449  https://www.forbes.com/sites/krisholt/2023/04/...    Forbes
 450         450  https://www.forbes.com/sites/nicholasreimann/2...    Forbes
 451         451  https://www.forbes.com/sites/krisholt/2023/04/...    Forbes
 452         452  https://www.forbes.com/sites/jamiecartereurope...    Forbes

                                             news_title news_language  \
 0    Gen Z Values Flexibility And Freedom. DoorDash...            en
 1                    Forbes Daily: Wall Street Revs Up            en
 2    Deutsche Bank: Navigating The Challenges Ahead...            en
 3    Miami Music Week Celebrated Diversity In Music...            en
 4    How Will The Cyber Attack Impact Dish’s Q1 Res...            en
 ..                                                 ...           ...
 448   Mother’s Day Gift Guide: The Best Travel Dresses            en
 449  Today’s ‘Heardle’ Answer And Clues For Thursda...            en
 450  Ex-San Francisco Official Accused Of Attacking...            en
 451  Today’s ‘Quordle’ Answers And Clues For Thursd...            en
 452  In Photos: See The Extraordinary New Close-Ups...            en

          publication_date                                           keywords  \
 0    2023-04-28T12:05:45Z  Gen Z,Gen Z Dashers,DoorDash,DoorDash Survey S...
 1    2023-04-28T12:02:51Z  meta,mark zuckerberg,pfas,forever chemicals,fi...
 2    2023-04-28T12:01:25Z  Leadership Strategy And The Fate Of Startups,E...
 3    2023-04-28T12:00:25Z  The W,Deep Root Tribe,Frankie Knuckles,FEMME H...
 4    2023-04-28T12:00:06Z                       dish,dish stock,dish revenue
 ..                    ...                                                ...
 448  2023-04-27T00:24:38Z  Mother's Day Gift Guide,Sandhya Garg of Projec...
 449  2023-04-27T00:15:25Z  heardle clues,heardle hints,heardle solution,h...
 450  2023-04-27T00:05:20Z                                                NaN
 451  2023-04-27T00:00:03Z  quordle clues,quordle answers,quordle hints,qu...
 452  2023-04-27T00:00:00Z   Juno,Jupiter,JunoCAM,Ganymede,new jupiter photos

                                             imgage_loc
 0    https://specials-images.forbesimg.com/imageser...
 1    https://specials-images.forbesimg.com/imageser...
 2    https://specials-images.forbesimg.com/imageser...
 3    https://specials-images.forbesimg.com/imageser...
 4    https://specials-images.forbesimg.com/imageser...
 ..                                                 ...
 448  https://specials-images.forbesimg.com/imageser...
 449  https://specials-images.forbesimg.com/imageser...
 450  https://specials-images.forbesimg.com/imageser...
 451  https://specials-images.forbesimg.com/imageser...
 452  https://specials-images.forbesimg.com/imageser...

 [453 rows x 8 columns]]

In [288]:
datalar

[     Unnamed: 0                                           news_loc news_name  \
 0             0  https://www.forbes.com/sites/alishahbaz/2023/0...    Forbes
 1             1  https://www.forbes.com/sites/sarahwhitmire/202...    Forbes
 2             2  https://www.forbes.com/sites/benjaminlaker/202...    Forbes
 3             3  https://www.forbes.com/sites/coreincarter/2023...    Forbes
 4             4  https://www.forbes.com/sites/greatspeculations...    Forbes
 ..          ...                                                ...       ...
 448         448  https://www.forbes.com/sites/robinraven/2023/0...    Forbes
 449         449  https://www.forbes.com/sites/krisholt/2023/04/...    Forbes
 450         450  https://www.forbes.com/sites/nicholasreimann/2...    Forbes
 451         451  https://www.forbes.com/sites/krisholt/2023/04/...    Forbes
 452         452  https://www.forbes.com/sites/jamiecartereurope...    Forbes

                                             news_title news_language  \
 0    Gen Z Values Flexibility And Freedom. DoorDash...            en
 1                    Forbes Daily: Wall Street Revs Up            en
 2    Deutsche Bank: Navigating The Challenges Ahead...            en
 3    Miami Music Week Celebrated Diversity In Music...            en
 4    How Will The Cyber Attack Impact Dish’s Q1 Res...            en
 ..                                                 ...           ...
 448   Mother’s Day Gift Guide: The Best Travel Dresses            en
 449  Today’s ‘Heardle’ Answer And Clues For Thursda...            en
 450  Ex-San Francisco Official Accused Of Attacking...            en
 451  Today’s ‘Quordle’ Answers And Clues For Thursd...            en
 452  In Photos: See The Extraordinary New Close-Ups...            en

          publication_date                                           keywords  \
 0    2023-04-28T12:05:45Z  Gen Z,Gen Z Dashers,DoorDash,DoorDash Survey S...
 1    2023-04-28T12:02:51Z  meta,mark zuckerberg,pfas,forever chemicals,fi...
 2    2023-04-28T12:01:25Z  Leadership Strategy And The Fate Of Startups,E...
 3    2023-04-28T12:00:25Z  The W,Deep Root Tribe,Frankie Knuckles,FEMME H...
 4    2023-04-28T12:00:06Z                       dish,dish stock,dish revenue
 ..                    ...                                                ...
 448  2023-04-27T00:24:38Z  Mother's Day Gift Guide,Sandhya Garg of Projec...
 449  2023-04-27T00:15:25Z  heardle clues,heardle hints,heardle solution,h...
 450  2023-04-27T00:05:20Z                                                NaN
 451  2023-04-27T00:00:03Z  quordle clues,quordle answers,quordle hints,qu...
 452  2023-04-27T00:00:00Z   Juno,Jupiter,JunoCAM,Ganymede,new jupiter photos

                                             imgage_loc
 0    https://specials-images.forbesimg.com/imageser...
 1    https://specials-images.forbesimg.com/imageser...
 2    https://specials-images.forbesimg.com/imageser...
 3    https://specials-images.forbesimg.com/imageser...
 4    https://specials-images.forbesimg.com/imageser...
 ..                                                 ...
 448  https://specials-images.forbesimg.com/imageser...
 449  https://specials-images.forbesimg.com/imageser...
 450  https://specials-images.forbesimg.com/imageser...
 451  https://specials-images.forbesimg.com/imageser...
 452  https://specials-images.forbesimg.com/imageser...

 [453 rows x 8 columns],
      Unnamed: 0                                           news_loc news_name  \
 0             0  https://www.forbes.com/sites/alishahbaz/2023/0...    Forbes
 1             1  https://www.forbes.com/sites/sarahwhitmire/202...    Forbes
 2             2  https://www.forbes.com/sites/benjaminlaker/202...    Forbes
 3             3  https://www.forbes.com/sites/coreincarter/2023...    Forbes
 4             4  https://www.forbes.com/sites/greatspeculations...    Forbes
 ..          ...                                                ...       ...
 448         448  https://www.forbes.com/sites/robinraven/2023/0...    Forbes
 449         449  https://www.forbes.com/sites/krisholt/2023/04/...    Forbes
 450         450  https://www.forbes.com/sites/nicholasreimann/2...    Forbes
 451         451  https://www.forbes.com/sites/krisholt/2023/04/...    Forbes
 452         452  https://www.forbes.com/sites/jamiecartereurope...    Forbes

                                             news_title news_language  \
 0    Gen Z Values Flexibility And Freedom. DoorDash...            en
 1                    Forbes Daily: Wall Street Revs Up            en
 2    Deutsche Bank: Navigating The Challenges Ahead...            en
 3    Miami Music Week Celebrated Diversity In Music...            en
 4    How Will The Cyber Attack Impact Dish’s Q1 Res...            en
 ..                                                 ...           ...
 448   Mother’s Day Gift Guide: The Best Travel Dresses            en
 449  Today’s ‘Heardle’ Answer And Clues For Thursda...            en
 450  Ex-San Francisco Official Accused Of Attacking...            en
 451  Today’s ‘Quordle’ Answers And Clues For Thursd...            en
 452  In Photos: See The Extraordinary New Close-Ups...            en

          publication_date                                           keywords  \
 0    2023-04-28T12:05:45Z  Gen Z,Gen Z Dashers,DoorDash,DoorDash Survey S...
 1    2023-04-28T12:02:51Z  meta,mark zuckerberg,pfas,forever chemicals,fi...
 2    2023-04-28T12:01:25Z  Leadership Strategy And The Fate Of Startups,E...
 3    2023-04-28T12:00:25Z  The W,Deep Root Tribe,Frankie Knuckles,FEMME H...
 4    2023-04-28T12:00:06Z                       dish,dish stock,dish revenue
 ..                    ...                                                ...
 448  2023-04-27T00:24:38Z  Mother's Day Gift Guide,Sandhya Garg of Projec...
 449  2023-04-27T00:15:25Z  heardle clues,heardle hints,heardle solution,h...
 450  2023-04-27T00:05:20Z                                                NaN
 451  2023-04-27T00:00:03Z  quordle clues,quordle answers,quordle hints,qu...
 452  2023-04-27T00:00:00Z   Juno,Jupiter,JunoCAM,Ganymede,new jupiter photos

                                             imgage_loc
 0    https://specials-images.forbesimg.com/imageser...
 1    https://specials-images.forbesimg.com/imageser...
 2    https://specials-images.forbesimg.com/imageser...
 3    https://specials-images.forbesimg.com/imageser...
 4    https://specials-images.forbesimg.com/imageser...
 ..                                                 ...
 448  https://specials-images.forbesimg.com/imageser...
 449  https://specials-images.forbesimg.com/imageser...
 450  https://specials-images.forbesimg.com/imageser...
 451  https://specials-images.forbesimg.com/imageser...
 452  https://specials-images.forbesimg.com/imageser...

 [453 rows x 8 columns],
      Unnamed: 0                                           news_loc news_name  \
 0             0  https://www.forbes.com/sites/alishahbaz/2023/0...    Forbes
 1             1  https://www.forbes.com/sites/sarahwhitmire/202...    Forbes
 2             2  https://www.forbes.com/sites/benjaminlaker/202...    Forbes
 3             3  https://www.forbes.com/sites/coreincarter/2023...    Forbes
 4             4  https://www.forbes.com/sites/greatspeculations...    Forbes
 ..          ...                                                ...       ...
 448         448  https://www.forbes.com/sites/robinraven/2023/0...    Forbes
 449         449  https://www.forbes.com/sites/krisholt/2023/04/...    Forbes
 450         450  https://www.forbes.com/sites/nicholasreimann/2...    Forbes
 451         451  https://www.forbes.com/sites/krisholt/2023/04/...    Forbes
 452         452  https://www.forbes.com/sites/jamiecartereurope...    Forbes

                                             news_title news_language  \
 0    Gen Z Values Flexibility And Freedom. DoorDash...            en
 1                    Forbes Daily: Wall Street Revs Up            en
 2    Deutsche Bank: Navigating The Challenges Ahead...            en
 3    Miami Music Week Celebrated Diversity In Music...            en
 4    How Will The Cyber Attack Impact Dish’s Q1 Res...            en
 ..                                                 ...           ...
 448   Mother’s Day Gift Guide: The Best Travel Dresses            en
 449  Today’s ‘Heardle’ Answer And Clues For Thursda...            en
 450  Ex-San Francisco Official Accused Of Attacking...            en
 451  Today’s ‘Quordle’ Answers And Clues For Thursd...            en
 452  In Photos: See The Extraordinary New Close-Ups...            en

          publication_date                                           keywords  \
 0    2023-04-28T12:05:45Z  Gen Z,Gen Z Dashers,DoorDash,DoorDash Survey S...
 1    2023-04-28T12:02:51Z  meta,mark zuckerberg,pfas,forever chemicals,fi...
 2    2023-04-28T12:01:25Z  Leadership Strategy And The Fate Of Startups,E...
 3    2023-04-28T12:00:25Z  The W,Deep Root Tribe,Frankie Knuckles,FEMME H...
 4    2023-04-28T12:00:06Z                       dish,dish stock,dish revenue
 ..                    ...                                                ...
 448  2023-04-27T00:24:38Z  Mother's Day Gift Guide,Sandhya Garg of Projec...
 449  2023-04-27T00:15:25Z  heardle clues,heardle hints,heardle solution,h...
 450  2023-04-27T00:05:20Z                                                NaN
 451  2023-04-27T00:00:03Z  quordle clues,quordle answers,quordle hints,qu...
 452  2023-04-27T00:00:00Z   Juno,Jupiter,JunoCAM,Ganymede,new jupiter photos

                                             imgage_loc
 0    https://specials-images.forbesimg.com/imageser...
 1    https://specials-images.forbesimg.com/imageser...
 2    https://specials-images.forbesimg.com/imageser...
 3    https://specials-images.forbesimg.com/imageser...
 4    https://specials-images.forbesimg.com/imageser...
 ..                                                 ...
 448  https://specials-images.forbesimg.com/imageser...
 449  https://specials-images.forbesimg.com/imageser...
 450  https://specials-images.forbesimg.com/imageser...
 451  https://specials-images.forbesimg.com/imageser...
 452  https://specials-images.forbesimg.com/imageser...

 [453 rows x 8 columns]]

In [289]:
dict1={}
for i in tarix_id:
    for a in datalar:
        dict1[i]=len(a)

In [290]:
tarix_id

['2023-04-28 16_07_05', '2023-04-28 16_28_54', '2023-04-28 16_46_53']

In [291]:
dict1

{'2023-04-28 16_07_05': 453,
 '2023-04-28 16_28_54': 453,
 '2023-04-28 16_46_53': 453}

In [292]:
A=pd.DataFrame({"Time":list(dict1.keys()),"Count":list(dict1.values())})

In [293]:
A

                  Time  Count
0  2023-04-28 16_07_05    453
1  2023-04-28 16_28_54    453
2  2023-04-28 16_46_53    453

Part2

In [294]:
len(datalar[0])

453

In [310]:
Yekun=pd.DataFrame()
a=[]
for i in range(0,len(A["Time"])):
    if i==(len(A["Time"])-1):
        break
    b=A["Time"][i]+"--"+A["Time"][i+1]
    a.append(b)
Yekun["Time"]=a

In [311]:
Yekun[["New","Same","Excluded"]]="x"

In [312]:
Yekun

                                       Time New Same Excluded
0  2023-04-28 16_07_05--2023-04-28 16_28_54   x    x        x
1  2023-04-28 16_28_54--2023-04-28 16_46_53   x    x        x

In [314]:
#Same
g=[]
for i in range(0,len(datalar)):
    if i==(len(datalar)-1):
        break
    c=0
    dt1=list(datalar[i]["news_loc"])
    dt2=list(datalar[i+1]["news_loc"])
    for a in dt2:
        if a in dt1:
            c+=1
    g.append(c)
print(g)

[453, 453]

In [315]:
#new
d=[]
for i in range(0,len(datalar)):
    if i==(len(datalar)-1):
        break
    c=0
    dt1=list(datalar[i]["news_loc"])
    dt2=list(datalar[i+1]["news_loc"])
    for a in dt2:
        if a not in dt1:
            c+=1
    d.append(c)
print(d)

[0, 0]

In [316]:
#excluded
h=[]
for i in range(0,len(datalar)):
    if i==(len(datalar)-1):
        break
    c=0
    dt1=list(datalar[i]["news_loc"])
    dt2=list(datalar[i+1]["news_loc"])
    for a in dt1:
        if a not in dt2:
            c+=1
    h.append(c)
print(h)

[0, 0]

In [317]:
Yekun["New"]=g
Yekun["Same"]=d
Yekun["Excluded"]=h

In [318]:
Yekun

                                       Time  New  Same  Excluded
0  2023-04-28 16_07_05--2023-04-28 16_28_54  453     0         0
1  2023-04-28 16_28_54--2023-04-28 16_46_53  453     0         0

In [298]:
x = pd.DataFrame({'a':[1,2,3]})
y = pd.DataFrame({'a':[2,3,4]})

In [299]:
x

   a
0  1
1  2
2  3

In [300]:
y

   a
0  2
1  3
2  4

In [307]:
x['a'].tolist()

[1, 2, 3]

In [308]:
y['a'].tolist()

[2, 3, 4]

In [304]:
set(x['a'].tolist()) - set(y['a'].tolist())

{1}

In [305]:
set(y['a'].tolist()) - set(x['a'].tolist())

{4}

In [179]:
b=[]
for i in range(0,len(list2)):
    if i==(len(list2)-1):
        break
    a=(list2[i]["news_loc"]!=list2[i+1]["news_loc"]).sum()
    b.append(a)
Yekun["New"]=b

In [184]:
c=[]
for i in range(0,len(list2)):
    if i==(len(list2)-1):
        break
    a=(list2[i]["news_loc"]==list2[i+1]["news_loc"]).sum()
    c.append(a)
Yekun["Same"]=c

In [195]:
c=0
for i in list2[0]["news_loc"]:
    if i in list2[1]["news_loc"]:
        c+=1
print(c)

0

In [210]:
lr1=list(list2[0]["news_loc"])
lr2=list(list2[1]["news_loc"])
c=0
for i in lr1:
    if i in lr2:
        c+=1
print(c)

453

In [211]:
dict1

{'2023-04-28 16_07_05': 453,
 '2023-04-28 16_28_54': 453,
 '2023-04-28 16_46_53': 453}